$color_primary: #7854F7;
$color_secondary: #5F37EF;
$color_tertiary: #e5efff;
$color_fourth: #70C217;
$color_white: #fff;
$color_dark: #000;

$text_grey: #94A2B3;
$text_dark: #272D4E;
$text_white: #fff;
$text_link: #299EF3;

$shadow: rgba($color: #D7E4F9, $alpha: .5);


$min-xs: 480px;
$max-xs: 767px;
$min-sm: 768px;
$max-sm: 991px;
$min-md: 992px;
$max-md: 1199px;
$min-lg: 1200px;
$max-lg: 1399px;
$min-bg: 1400px;